
h2{
  font-family: 'Francois One', sans-serif;
  color: #363636;
  font-size: 1.6em;
  text-align: center;
  text-shadow: -2px 1px 0px #ff5555,  2px -1px 0px #01ffff;
  margin: 15px 0 30px;
}
h3{
  font-family: 'Francois One', sans-serif;
  color: #ff5555;
  font-size: 1.2em;
  text-align: left;
  margin: 30px 0 10px 0;
}

p{
  font-family: 'News Cycle', sans-serif;
}

header{
  padding: 20px;
  background: #fff;
  height: 60px;
}

footer{
  background: #eee;
  padding:10px 10px;
}
#media{
  margin-bottom: 28px;
}

nav a:hover,footer a:hover {
    background-color: #01ffff;
}


footer li{
    list-style-type:none;
    color: #ff5555;
    font-family: 'Francois One', sans-serif;
}


nav li {
  position: relative;
  list-style-type: none;
  color: #ff5555;
  font-family: 'Francois One', sans-serif;
  float: left;
  padding-left: 20px;
}

nav li:before {
  content: '';
  position: absolute;
  width: 4px;
  left: 8px;
  background-color:#ff5555;
  background-clip: content-box;
  height: 25.6px;
  box-sizing: padding-box;
  padding: 3px 0;
}

nav .nav-item-logo {
  position: relative;
}

nav li.nav-item-logo:before {
  background-color: transparent;
}

nav li.nav-item-logo + li:before {
  background-color: transparent;
}

nav .nav-item-offset {
  position: relative;
  top: 40px;
  height: 50px;
  background-color: #fff;
  padding: 10px 10px 10px 20px;
  float: right;
}

nav .nav-item-offset-end:before {
  content: '';
  position: absolute;
  height: 50px;
  top: 0;
  left: -20px;
  border-top: 50px solid #fff;
  border-left: 20px solid transparent;

}

nav .nav-item-offset-start:after {
  content: '';
  position: absolute;
  width: 9999px;
  height: 50px;
  background-color: #fff;
  top: 0px;
  left: 100%;
}


nav .columns + .columns:last-child {
  float: left;
}

nav a,.sns a,footer a
{
  color: #363636;
  margin-top: 20px;
}



.container {
  margin-top: 420px;
  margin-bottom: 80px;
  padding: 20px 0;
  background: #fff;
}
.sub-container {
  padding: 0 20px;
  background: #eee;
  margin-top: 20px;
  margin-bottom: -20px;
  box-shadow: 4px 1px 0px #ff5555,  -2px 5px 0px #01ffff;
}

.sub-container:before{
  content:"";
  position: relative;
  width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 40px solid #eee;
  top:-60px;
  left:60px;

}

.container:before{
  content: '';
  position: absolute;
	border-bottom: 40px solid #fff;
	border-left: 0px solid transparent;
	border-right: 19px solid transparent;
	height: 0;
	width: 532px;
  top:380px;
  left:15px;

}



.arrows {
  overflow: hidden;
  position: relative;
  top: -60px;
  text-transform: uppercase;
  line-height: 90px;
  vertical-align: middle;
  padding-left: 20px;
  margin-bottom: -40px;
}

 .arrow{
    position: relative;
    top: 60px;
    font-family: 'Francois One', sans-serif;
    color: #fff;
    font-size: 2em;
    height:90px;
    text-align: center;
    background-color: #2ac3d5;
    margin: 0 18px;
}

.arrow:before{
  content: '';
  position: absolute;
  height: 90px;
  border-top: 45px solid #2ac3d5;
  border-left: 20px solid transparent;
  border-bottom: 45px solid #2ac3d5;
  left:-20px;

}
.arrow:after{
  content: '';
  position: absolute;
  height: 90px;
  border-top: 45px solid ;
  border-left: 20px solid #2ac3d5;
  border-bottom: 45px solid transparent;
  right:-20px;

}

.arrows a{
  color: #fff;
}
.arrows a:hover {
    text-shadow: -3px 1px 0px #ff5555,  4px -1px 0px #01ffff;;
}

.admission{
      background-color: #e97cb7;
      border-color: #e97cb7;
}

.admission:before{
    border-top: 45px solid #e97cb7;
    border-bottom: 45px solid #e97cb7;


}

.admission:after{

  border-left: 20px solid #e97cb7;

}


.apply{

    font-family: 'Francois One', sans-serif;
    color: #fff;
    font-size: 2em;
    height:150px;
    text-align: center;
    background-color: #c7e232;
    margin: 0 20px;
    left: -47px;
    line-height: 150px;
    vertical-align: middle;
}

.apply:before{
  content: '';
  position: absolute;
  height: 210px;
  border-top: 105px solid #c7e232;
  border-left: 47px solid transparent;
  /*border-right: 75px solid transparent;*/
  border-bottom: 105px solid #c7e232;
  left:-47px;
}


.apply:after{
  content: '';
  position: absolute;
  height: 150px;
  border-top: 75px solid transparent;
  border-left: 33px solid #c7e232;
  border-bottom: 75px solid transparent;
  right:-33px;

}

.sub-content{
  padding:15px;
  margin-top: 20px;
}
