// Use http://name-of-color.com/ to find out the closest color name

$color-white: #fff;
$color-snow: #f9f9f9;
$color-smoke: #eee;
$color-stardust: #9f9f9f;
$color-cyan: #01ffff;
$color-tuatara: #363636;
$color-carnation: #ff5555;
$color-scooter: #2ac3d5;
$color-persian-pink: #e97cb7;
$color-pear: #c7e232;

// override foundation colors
$white: $color-white;
$snow: $color-snow;
$smoke: $color-smoke;
$aluminum: $color-stardust;
$oil: $color-tuatara;
$primary-color: $color-pear;
$secondary-color: $color-smoke;
