$dividing-line-width: rem-calc(4px);
$dividing-line-length: $element-medium-spacing;
$item-height: rem-calc(25px);
$navbar-right-item-offset: rem-calc(40px);
$navbar-right-item-vertical-spacing: $element-narrow-spacing;
$navbar-right-item-height: $item-height + $navbar-right-item-vertical-spacing * 2;
$navbar-triangle-width: rem-calc(20px);
$header-height: $topbar-height + $element-medium-spacing * 2;
$header-outer-height: $element-medium-spacing + sprite-height("logo");

@mixin wide-topbar-only {
  @media #{$topbar-media-query} {
    @content
  }
}

.header {
  background-color: $color-white;
  background-clip: content-box;
  @include wide-topbar-only {
    overflow: hidden;
    padding-bottom: $header-outer-height - $header-height;
    margin-bottom: $header-height - $header-outer-height;
    height: $header-outer-height;
  }
}

nav.top-bar {
  @extend .row;
  @include set-multiple($element-medium-spacing,
                        margin-top margin-bottom);

  &.expanded {
    margin-bottom: 0;
  }

  h1 {
    @include inherit-htag;
  }

  ul > li {
    position: relative;
    z-index: 1;
  }

}

.top-bar ul.title-area {
  margin-bottom: $element-medium-spacing;
  > li {
    @include set-multiple($element-medium-spacing,
                          margin-left margin-right);
    @include wide-topbar-only {
      @include set-multiple(0, margin-left margin-right);
    }
  }

  > li.top-bar-logo {
    @include wide-topbar-only {
      a {
        @include hide-text;
        @include use-sprite('logo');
      }
    }
  }

  > li.toggle-topbar.menu-icon {
    > a {
      @include hamburger($width: rem-calc(16px),
                         $left: false,
                         $top: false,
                         $thickness: 3px,
                         $gap: 5px,
                         $color: $topbar-menu-icon-color,
                         $hover-color: "",
                         $offcanvas: false);
      @at-root .expanded #{&} {
        > span:after {
          box-shadow: 0 0 0 3px $topbar-menu-icon-color-toggled,
                      0 8px 0 3px $topbar-menu-icon-color-toggled,
                      0 17px 0 3px $topbar-menu-icon-color-toggled,
        }
      }
      @include font-francois-one;
      text-transform: uppercase;
    }
  }
}

.top-bar-section > ul > li > a {
  @include set-multiple($element-medium-spacing,
                        padding-left padding-right);
  @include wide-topbar-only {
    @include set-multiple(0, padding-left padding-right);
  }
}

@include wide-topbar-only {
  .top-bar-section > ul {
    > li {
      padding-left: $element-medium-spacing;
  
      &:before {
        @include pseudo-element;
        position: absolute;
        width: $dividing-line-width;
        left: ($element-medium-spacing - $dividing-line-width) / 2;
        background-color: $color-carnation;
        background-clip: content-box;
        height: $item-height;
        padding: ($item-height - $dividing-line-length) / 2 0;
      }
  
      &:first-of-type:before {
        background-color: transparent;
      }
  
    }
  
    &.right > li {
      top: $navbar-right-item-offset;
      @include set-multiple($navbar-right-item-vertical-spacing,
                            padding-top padding-bottom);
  
      &:after {
        @include pseudo-element;
        position: absolute;
        width: 100vw; // equals to window width
        height: $navbar-right-item-height;
        background-color: $color-white;
        top: 0;
        left: 100%;
      }
  
      &~ li:after {
        // only the first element of .navbar-item-right can have ::after
        content: initial;
      }
  
      &:first-of-type:before {
        padding: 0;
        top: 0;
        left: -$navbar-triangle-width;
        @include triangle($color-white,
                          $navbar-right-item-height,
                          $navbar-triangle-width,
                          top right); 
      }
    }
  }
}
