$hero-large-height: rem-calc(500px);
$hero-arrow-opacity: .4;
$hero-arrow-hover-opacity: .8;
$hero-bullet-size: rem-calc(12px);
$hero-bullet-spacing: rem-calc(4px);
$hero-caption-background-opacity: .6;
$hero-caption-vertical-margin: 20%;
$hero-caption-horizontal-margin: 20%;
$hero-caption-title-size: rem-calc(32px);

.hero-container {
  position: relative;
  height: $hero-large-height;
  overflow: hidden;

  &.slick-initialized {
    overflow: visible;
  }

  .slick-list {
    height: $hero-large-height;
    overflow: hidden;
  }

  .slick-slide {
    height: $hero-large-height;
    position: relative;
  }

  .hero-caption {
    position: absolute;
    padding: $element-narrow-spacing $element-medium-spacing;
    color: $color-white;
    @include font-news-cycle;
    background-color: rgba($color-tuatara, $hero-caption-background-opacity);
    width: 40rem;
    max-width: 60vw;

    > .hero-caption-title {
      color: $color-cyan;
      @include font-francois-one;
      font-size: $hero-caption-title-size;
      font-weight: 700;
      line-height: 1.6;
    }

    > p {
      margin-bottom: $element-narrow-spacing;
    }

    strong {
      text-transform: uppercase;
      font-weight: 700;
    }

    a {
      text-transform: uppercase;
      font-weight: 700;
      color: $color-carnation;
      font-size: 1rem;
      &:hover {
        @extend %cyan-underline;
      }
    }
  }

  .hero-caption-top-left, .hero-caption-top-right {
    top: $hero-caption-vertical-margin;
  }

  .hero-caption-top-left, .hero-caption-bottom-left {
    left: $hero-caption-horizontal-margin;
  }

  .hero-caption-bottom-left, .hero-caption-bottom-right {
    bottom: $hero-caption-vertical-margin;
  }

  .hero-caption-top-right, .hero-caption-bottom-right {
    right: $hero-caption-horizontal-margin;
  }

  .slick-arrow {
    visibility: hidden;
    position: absolute;
    top: 50%;
    opacity: $hero-arrow-opacity;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    @include hide-text;
    margin: 0 $element-medium-spacing;
    &:focus {
      outline: 0;
    }
    &:hover {
      opacity: $hero-arrow-hover-opacity;
    }
    @at-root :hover#{&} {
      visibility: visible;
    }
  }

  .slick-prev {
    left: 0;
    z-index: 1;
    @include use-sprite("arrow-left");
    margin-top: - sprite-height("arrow-left") / 2;
  }

  .slick-next {
    right: 0;
    @include use-sprite("arrow-right");
    margin-top: - sprite-height("arrow-right") / 2;
  }

  ul.slick-dots {
    position: absolute;
    bottom: - $element-medium-spacing;
    width: 100%;
    text-align: center;
    > li {
      list-style-type: none;
      display: inline-block;
      > button {
        @include hide-text;
        background-color: $color-cyan;
        @include set-multiple($hero-bullet-size, width height);
        border: none;
        border-radius: $hero-bullet-size / 2;  
        margin: $hero-bullet-spacing;
        padding: 0;
        z-index: 1;
      }
      &.slick-active, &:hover {
        > button {
          background-color: $color-tuatara;
          @include anaglyph-3d;
        }
      }
    }
  }
}
