$hr-dotted-diameter: rem-calc(4px);
$main-content-sidebar-radius: $element-medium-spacing;
$main-content-sidebar-line-height: rem-calc(42px);
$main-content-sidebar-dividing-line-width: rem-calc(1px);
$main-content-sidebar-highlight-background-height: $main-content-sidebar-line-height + $main-content-sidebar-dividing-line-width * 2;
$main-content-sidebar-highlight-arrow-width: $element-narrow-spacing;

.main-content {
  @extend .row;
  background-color: $color-smoke;
  position: relative;
  &:before {
    @include border-3d($color-cyan);
    padding: rem-calc(1px 4px 14px);
    top: rem-calc(-2px);
    left: rem-calc(-8px);
  }

  &:after {
    @include border-3d($color-carnation);
    padding: rem-calc(4px 4px);
    top: rem-calc(-6px);
    right: rem-calc(-10px);
  }

  .top-content-video {
    @extend .large-7;
    @extend .medium-6;
    @extend .small-12;
    float: right;
    position: relative;
    margin-left: $element-wide-spacing;
    margin-bottom: $element-wide-spacing;
    z-index: 1;
    > .video-wrapper {
      @include intrinsic-ratio;
    }
    @include media-medium-up {
      margin-bottom: 0;
    }
  }

  .top-content-text {
    padding-top: $element-medium-spacing;
    padding-left: $element-medium-spacing;
    padding-right: $element-wide-spacing;
  }

  hr {
    margin: 0 $element-medium-spacing;
    border-top: $hr-dotted-diameter dotted $color-carnation;
    top: -$hr-dotted-diameter;
    position: relative;
  }
}

.main-content-sidebar {
  @include media-large-up {
    width: 30%;
  }
  @extend .medium-6;
  @extend .small-12;
  @extend .column;

  margin-top: $element-wide-spacing - $element-medium-spacing;
  padding: $main-content-sidebar-radius + $element-medium-spacing $element-medium-spacing;
  z-index: 0;

  &:before {
    @include pseudo-element;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $color-snow;
    background-clip: content-box;
    border-radius: $main-content-sidebar-radius + $element-medium-spacing;
    padding: $element-medium-spacing;
    z-index: -1;

  }

  > h3 {
    display: none;
  }

  > h3 {
    margin-left: $element-medium-spacing;
  }

  > ul {
    margin: 0;
    padding: 0 $element-medium-spacing;
    > li {
      list-style-type: none;
      line-height: $main-content-sidebar-line-height;
      border-bottom: $main-content-sidebar-dividing-line-width dashed $color-pear;
      a {
        display: inline-block;
        color: $color-carnation;
        width: 100%;
        z-index: 0;
        &:hover, &.current {
          font-weight: 600;
          color: $color-white;
          &:before {
            @include pseudo-element;
            position: absolute;
            left: 0;
            background-clip: content-box;
            width: 100%;
            height: $main-content-sidebar-highlight-background-height;
            margin-top: - $main-content-sidebar-dividing-line-width;
            z-index: -1;
          }
        }
        &:hover:before {
          background-color: $color-scooter;
          padding: 0 $element-medium-spacing;
        }
        &.current {
          pointer-events: none;
          cursor: default;
          &:before {
            background-color: $color-pear;
            padding: 0 $element-medium-spacing - $main-content-sidebar-highlight-arrow-width;
          }
          &:after {
            @include pseudo-element;
            @include triangle($color: $color-pear,
                              $height: $main-content-sidebar-highlight-background-height,
                              $width: $main-content-sidebar-highlight-arrow-width,
                              $angle: 90);
            position: absolute;
            right: rem-calc(.2px); // bleeding
            margin-top: - $main-content-sidebar-highlight-background-height + $main-content-sidebar-dividing-line-width;
          }
        }
      }
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}

.main-content-text {
  @extend .large-8;
  @extend .medium-6;
  @extend .small-12;
  @extend .column;

  padding: $element-wide-spacing $element-medium-spacing;
}
