.main-content {
  @extend .row;
  margin-top: $element-section-spacing;
  background-color: $color-gallery;
  @extend %border-3d-outer;
}

.main-content-sidebar {
  @extend .large-5;
  @extend .medium-6;
  @extend .small-12;
  @extend .column;

  padding: $element-wide-spacing $element-medium-spacing;

  > .sidebar-items {
    margin-top: $element-medium-spacing;
    > li {
      list-style-type: none;
      a {
        display: inline-block;
        color: $color-carnation;
        &:hover {
          background-color: $color-cyan;
          color: $color-white;
        }
      }
    }
  }
}

.main-content-text {
  @extend .large-7;
  @extend .medium-6;
  @extend .small-12;
  @extend .column;
  @extend %border-3d-inner;

  padding: $element-wide-spacing $element-medium-spacing;
}
