%cyan-underline {
  @include underline($background: transparent,
                     $color: $color-cyan,
                     $distance: .6,
                     $width: 12);
}

%general-content {

  > h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  > h3 {
    font-size: 1.3rem;
  }

  > h2, > h3, > h4, > h5, > h6 {
    margin-bottom: $element-medium-spacing;
  }
  >p {
    color: $color-tuatara;
    margin-bottom: $element-narrow-spacing;
  }

  > p:last-of-type {
    margin-bottom: 0;
  }

  a {
    color: $color-carnation;
    &:hover {
      @extend %cyan-underline;
    }
  }

  u {
    @extend %cyan-underline;
  }
}
