$tab-height: rem-calc(90px);
$small-only-tab-height: rem-calc(60px);
$tab-large-height: rem-calc(120px);
$tab-offset: $tab-large-height - $tab-height;
$tab-font-size: 2rem;
$small-only-tab-font-size: 1.6rem;
$arrow-head-angle: 135deg;
$tab-horizontal-spacing: rem-calc(7px);
$_arrow-head-tan: tan($arrow-head-angle / 2);
$arrow-width: round($tab-height / $_arrow-head-tan / 2);
$arrow-large-width: round($tab-large-height / $_arrow-head-tan / 2);
$tab-real-horizontal-spacing: $tab-horizontal-spacing + $arrow-width / 2;
$tab-large-arrow-skew-angle: (180deg - $arrow-head-angle) / 2;
$tab-large-arrow-skew-height: $tab-large-height - $tab-height;
$tab-large-arrow-skew-horizontal-offset: - $tab-large-arrow-skew-height * tan($tab-large-arrow-skew-angle) / 2;
$tab-subtitle-text-offset: rem-calc(20px);
$medium-and-large-tabs-count: 3;
$tab-pointer-transition-speed: .2s;

$tab-pointer-width: rem-calc(50px);
$tab-pointer-height: rem-calc(20px);


.arrow-tabs {
  @extend .row;
  position: relative;
  vertical-align: middle;

  &.arrow-tabs-overlap {
    margin-bottom: - $element-wide-spacing;
    &::after {
      display: none;
    }
  }

  &:after {
    @extend .medium-#{12 / $medium-and-large-tabs-count};
  }

  @include media-medium-up {
    height: $tab-height;
    padding: 0 $element-medium-spacing;
    margin-bottom: $element-narrow-spacing + $tab-pointer-height;

    &:after {
      @include pseudo-element;
      float: left;
      position: relative;
      padding: 0;
      opacity: 0;
      margin-top: $element-narrow-spacing;
      left: - $tab-pointer-width / 2;
      @include triangle($color: $color-gallery,
                        $height: $tab-pointer-height,
                        $width: $tab-pointer-width,
                        $angle: 0);
      transition: margin-left $tab-pointer-transition-speed, opacity $tab-pointer-transition-speed; 
    }

    @for $i from 1 through $medium-and-large-tabs-count {
      &[data-current-tab="#{$i}"]:after {
        opacity: 1;
        margin-left: ($i - .5) * 100% / $medium-and-large-tabs-count;
      }
    }
  }
}

@mixin parallelogram-pseudo-element {
  @include pseudo-element;
  position: absolute;
  background-clip: content-box;
  height: $tab-large-arrow-skew-height;
  transform: skew($tab-large-arrow-skew-angle);
}


.arrow-tab {
  @extend .medium-#{12 / $medium-and-large-tabs-count};
  @extend .small-12;
  @extend .columns;
  padding: 0;

  > a {
    @include font-francois-one;
    position: relative;
    display: block;
    color: $color-white;
    font-size: $small-only-tab-font-size;
    text-align: center;
    text-transform: uppercase;
    background-color: $color-gallery;
    @include set-multiple($small-only-tab-height, height line-height);

    > .arrow-tab-title, > .arrow-tab-subtitle {
      display: inline-block;
    }

    > .arrow-tab-subtitle {
      padding-right: $element-narrow-spacing;
    }

    @include media-medium-up {
      @include set-multiple($tab-height, height line-height);
      fount-size: $tab-font-size;
      padding: 0 $tab-horizontal-spacing + $arrow-width / 2;
      background-clip: content-box;
      z-index: 1;

      > .arrow-tab-title {
        display: block;
        height: $tab-height;

        &:before, &:after {
          @include pseudo-element;
          @include triangle($height: $tab-height,
                            $width: $arrow-width,
                            $angle: 90);
          position: absolute;
          top: 0;
        }
        &:before {
          left: $tab-horizontal-spacing - $arrow-width / 2;
          border-left-color: transparent;
        }
        &:after {
          right: $tab-horizontal-spacing - $arrow-width / 2;
        }
      }

      > .arrow-tab-subtitle {
        display: block;
        position: absolute;
        height: $tab-large-arrow-skew-height;
        line-height: $tab-large-arrow-skew-height + $tab-subtitle-text-offset * 2;
        top: - $tab-offset;
        left: $tab-horizontal-spacing - $arrow-width / 2;
        padding-left: $arrow-width;
        padding-right: $tab-horizontal-spacing * 2; // $arrow-width + 2 * left
        width: 100%;
        font-size: .6em;
        background-clip: content-box;
        &:before {
          @include parallelogram-pseudo-element;
          left: $tab-large-arrow-skew-horizontal-offset;
          padding-right: $tab-horizontal-spacing * 2;
          width: 100%;
          z-index: -1;
        }
        @at-root :last-of-type#{&} {
          &:after {
            @include pseudo-element;
            @include triangle($height: $tab-large-height,
                              $width: $arrow-large-width,
                              $angle: 90);
            position: absolute;
            top: 0;
            right: $tab-horizontal-spacing * 2 - $arrow-large-width;
          }
        }
      }
    }
  }

  @include media-medium-up {
    &.arrow-tab-banner-end:before {
      @include parallelogram-pseudo-element;
      right: ($tab-horizontal-spacing + $arrow-width / 2) / 2;
      padding-right: $tab-horizontal-spacing * 2;
      background-color: $color-white;
      width: 100vw;
      top: - $tab-large-arrow-skew-height;
    }
  }

  @mixin arrow-tab-bgcolor($color) {
    > a {
      background-color: $color;
      @include media-medium-up {
        background-color: transparent;
      }
      > .arrow-tab-title {
        background-color: $color;
        &:before {
          @include set-multiple($color,
                                border-top-color border-bottom-color);
          box-shadow: 1px 0 $color;
        }

        &:after {
          border-left-color: $color;
          box-shadow: -1px 0 $color;
        }
      }
      > .arrow-tab-subtitle {
        @at-root :last-of-type#{&} {
          background-color: $color;
          &:after {
            border-left-color: $color;
            box-shadow: -1px 0 $color;
          }
        }
        &:before {
          background-color: $color;
        }
      }
    }
  }

  &:nth-of-type(1) {
    @include arrow-tab-bgcolor($color-scooter);
  }

  &:nth-of-type(2) {
    @include arrow-tab-bgcolor($color-persian-pink);
  }

  &.arrow-tab-cta {
    @include arrow-tab-bgcolor($color-pear);
    @include media-medium-up {
      > a {
        font-size: 2.4em;
        &:hover > .arrow-tab-title {
          @include anaglyph-3d(3px, 1px, 4px, $shadow-attr: text-shadow);
        }
      }
    }
  }

}
