.tab-content {
  @extend .row;
  background-color: $color-gallery;
  box-shadow: 5px 5px 5px rgba($color-tuatara, .2);
}

.tab-content-video {
  @extend .large-7;
  @extend .medium-6;
  @extend .small-12;
  float: right;
  position: relative;
  > .video-wrapper {
    @include intrinsic-ratio;
  }
}

.tab-content-text {

  @extend .large-5;
  @extend .medium-6;
  @extend .small-12;
  @include set-multiple($element-medium-spacing,
                        padding-top padding-bottom);
  padding-left: $element-medium-spacing;
  padding-right: $element-wide-spacing;

  @extend %general-content;

  > h2 {
    color: $color-tuatara;
    &:hover {
      @include anaglyph-3d(1px, 1px, 2px, 0, $shadow-attr: text-shadow);
    }
  }

  > .sub-title {
    color: $color-pear;
    font-weight: 700;
  }

  > h2 + .sub-title {
    position: relative;
    margin-top: -$element-medium-spacing;
  }

  a.tab-content-read-more {
    font-weight: 700;
    text-transform: uppercase;
  }
}
