$unit: 16px;
$element-section-spacing: 60px;
$element-wide-spacing: 30px;
$element-medium-spacing: 20px;
$element-narrow-spacing: 10px;

// Compass `hide-text` global variable, see http://goo.gl/SijBFc
$hide-text-direction: right;
