= wrap_layout :layout do
  %section.hero-container-half
    %div
      =image_tag current_page.data.heroimage
  %section.arrow-tabs.arrow-tabs-overlap
    .arrow-tab.arrow-tab-cta.right
      = link_to_article "apply" do
        .arrow-tab-subtitle Start This Fall
        .arrow-tab-title Apply
  %section.main-content
    .main-content-text.general-content
      = yield
    %nav.main-content-sidebar.general-content
      =partial (current_page.data.respond_to? :main_content_sidebar) ? current_page.data.main_content_sidebar : "contents/main_content_sidebar"
    .clearfix
